<section class="container">
  <p>登入</p>
  <div class="row">
    <form class="col s12" #loginForm="ngForm" (ngSubmit)="login()">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="username" required [(ngModel)]="user.username" #username="ngModel">
          <label for="icon_prefix">用户名</label>
          <div *ngIf="!username.valid && (username.dirty || username.touched)" class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="icon_password" type="password" class="validate" required name="password" required [(ngModel)]="user.password"
            #password="ngModel">
          <label for="icon_password">密码</label>
          <div *ngIf="!password.valid && (password.dirty || password.touched)" class="alert alert-danger">
            Password is required
          </div>
        </div>

      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="loginForm.invalid">Submit
        <i class="material-icons right">send</i>
      </button>

      <p *ngIf="showLoginError">用户名或者密码错误！</p>
      <p *ngIf="showLoginSuccess">登入成功!</p>

    </form>
  </div>
</section>