<!--The content below is only a placeholder and can be replaced.-->

<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
          <a routerLink="/">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/api">Components</a></li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <app-alert></app-alert>

  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">© 2014-2017 Materialize, All rights reserved. </div>
  </div>
</footer>