<!--The content below is only a placeholder and can be replaced.-->

<header>
  <nav>
    <div class="nav-wrapper">

      <ul id="nav-mobile">
        <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
          <a routerLink="/">音乐</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/api">Components</a>
        </li>
      </ul>

      <img src="../assets/materialize.svg" alt="Logo" />

    </div>
  </nav>

</header>

<main>
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">© 2017 Joseph, All rights reserved. </div>
  </div>
</footer>